/*------------ Base fonts ------------*/
p, footer{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #232328;
    font-size: 12pt; 
} 

h1{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 2px;
}

h3{
    font-family: 'Scada', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16pt;
}

a{
    text-decoration: none;
}

/*------------ Nav fonts ------------*/

.bar{ /*top-nav*/
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.nav-a{
    color: #5a515e;
}

.h1-name{ /*my name in nav-bar*/
    color: black;
}

.overlay-content{ /* fullscreen overlay nav */
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
}

/*------------ Styling each section, including other pages------------*/

.hero-header{
    font-size: 250%;
    font-family: 'Unna', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.section-header{
    font-family: 'Scada', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.my-list{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*------------ Hyperlinks ------------*/
.my-link{
    color: royalblue;
}

a:hover{
    text-decoration: none;
}

input[type=submit]{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial;
}

/*------------ PhotoSwipe ------------*/

.pswp__top-bar{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #eee;
    font-weight: 500;
}

.pswp__caption__center{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #eee;
    font-weight: 500;
}