/*------------ Base fonts ------------*/
p, footer{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #232328;
    font-size: 12pt; 
    -webkit-text-size-adjust: none;
} 

h1{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 130%;
    margin-bottom: 2px;
}

h3{
    font-family: 'Scada', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16pt;
}

a{
    text-decoration: none;
}

/*------------ Desktop nav fonts ------------*/

.bar{ /*top-nav*/
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.nav-a{
    color: #fff;
    text-shadow: 2px 2px royalblue;
}



.h1-name{ 
    color: #fff;
    text-shadow: 2px 2px royalblue;
    padding: 15px
}

.overlay-content{ /* fullscreen overlay nav */
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
}

/*------------ Mobile nav fonts ------------*/
.overlay a {
    font-size: 25px;
    background: linear-gradient(to right, violet, cyan, aqua, pink, yellow, salmon, red);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/*------------ Styling each section, including other pages------------*/

.hero-header{
    font-size: 250%;
    font-family: 'Unna', Helvetica, Arial, sans-serif;
    font-weight: 700;
    background: linear-gradient(to right, violet, cyan, aqua, pink, yellow, salmon, red);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 0px 1px black);
}

.black-bg h2{
    background: linear-gradient(to right, violet, cyan, aqua, pink, yellow, salmon, red);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.black-bg h3, .black-bg p{
    color: #fff;
}

.white-bg h2, .illus-bg h2, .about-bg h2{
    color: #000;
    filter: drop-shadow(0px 0px 1px black);
}

.section-header{
    font-family: 'Scada', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.my-list{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.about-descr p{
    color: #fff;
    text-shadow: 2px 2px royalblue;
    font-weight: bold;
}

.about-descr .my-link{
    text-shadow: none;
}

/*------------ links ------------*/
.my-link{
    color: royalblue;
    text-decoration: revert;
}

a:hover{
    text-decoration: none;
}

input[type=submit]{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial;
}

/*------------ PhotoSwipe ------------*/

.pswp__top-bar{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #eee;
    font-weight: 500;
}

.pswp__caption__center{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #eee;
    font-weight: 500;
}

@media(max-width: 1024px){
    h1{
        margin: 0;
        padding: 0;
        position: relative;
        right: 10px;
    }
    .h1-name{ 
        background: linear-gradient(to right, violet, cyan, aqua, pink, yellow, salmon, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: none;
        font-size: 100%;
        margin: 0;
        padding: 0;
        filter: drop-shadow(0px 0px 1px black);
    }
}

@media(max-width: 720px){
    p{
        font-size: 10pt;
    }
}