/*------------ Base styles ------------*/

*, *:before, *:after { /*for new nav*/
	box-sizing: inherit;
}

html{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-color: #000;
	margin:0;
	padding:0;
}

header{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
 
h1{
	margin: 0 20px;
	color: #000;
}

h2{
    margin: 0;
}

h3{
	margin-bottom: 5px;
	margin-top: 0px;
}

section{
	margin:0px;
	order: 1;
	display: flex;
	flex-flow: row wrap;
	width:100%;
	background-color: #d9dee4;
}

p{
	line-height: 160%;
	margin-top: 0px;
}

img{
	max-width: 100%;
	width:auto;
	height: auto;
}

iframe{
	border: 0 none;
}

footer{
	display: flex;
	align-items: center;
	justify-content: center;
	order: 2;
	background-color: #606068;
	width: 100%;
	height: 0;
}

/*------------ Styling each section, including other pages------------*/

.cover{ /* Cover is an extra div to cover the whole browser so the nav fade can't be seen in the background */
	margin: 0px;
	background-color: #606068;
}

.container {
    display: flex;
    flex-flow: row wrap;
	margin: 0 auto;
	padding-top: 75px;
	width: 100%;
	background-color: #eee;

	/*max-width: 960px;*/
}

.contentitem{ /* Each section tag contains a "contentitem" class */
	order: 1;
	overflow: auto; /*stopped the overflowing of the containeritem over the container*/
	flex: 0 1 100%;
	width:100%;
    margin: 0 auto;
	max-width: 960px;
}

.hero-header{ 
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 150px;
    /*color: #eee;*/
    color: #000;
    margin: 10px auto;
    text-align: center;
}

#hero-img{
	/*width: 960px;*/
	margin: 0px;
	display: none;
}

.hr-div-clr{
	width: 100%;
	background: linear-gradient(to right, violet, cyan, aqua, pink, yellow, salmon, red);
	height: 2px;
}

.section-header{ /* Underlined header for each section */
	font-size: 20pt;
	text-align: center;
	padding-bottom: 5px;
	margin-bottom: 10px;
    margin-top: 10px;
	/*border-bottom: solid;
	border-color: #606068;
	border-width: 1px;*/
}

/* Styling components within each section */

.p-no-margin-bottom{
	margin-top: 15px;
	margin-bottom: 0;
}

.img-container img{
	margin: 0 auto;
	min-width: 100px;
}

img.displayed{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 750px;
	width: 100%;
}

/* Styling the background of each section */

#hero{
    background-image: url('../images/dreamover_cover.jpg');
    margin:0 auto;
    background-color: #050409;
    max-height: 100vh;
    /*max-width: 960px;*/
    
    height: 1080px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;

}

.hero-content{
	/*background-color: #050409;*/
	background-color: #000;
}

.gallery-container{
	order: 1;
	max-width: 1920px;
	margin: 0 auto;
}

.white-bg{
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 60px;
}

.black-bg{
	background-color: #000;
	padding-top: 30px;
	padding-bottom: 60px;
}

.illus-bg{
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 90px;
}

.about-bg{
	background: linear-gradient(to right, violet, cyan, aqua, pink, yellow, salmon, red);
	padding-top: 30px;
	padding-bottom: 60px;
}

/*------------ Vimeo/YouTube container styles ------------*/

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*------------ PhotoSwipe styles ------------*/

.my-gallery{
	display: flex;
	flex-flow: row wrap;
	padding: 0;
	margin: 0;
}

.my-gallery figcaption {
  display: none;

}

.my-gallery img{
	margin-bottom: -4px;
	height: 100%;
	width: 100%;	
	object-fit: cover;
}

.my-gallery figure{
	flex: 1 1 25%;
	margin: 0;
	padding: 0;
}

.pswp__caption__center{
	text-align: center !important;
}

/*.gallery-item-container{
	flex: 1 1 25%;
	position: relative;
	height: 250px;
	width: 250px;
	overflow: hidden;
}*/

/*.gallery-item-container figure{
	margin: 0;
}

.gallery-item-container img{
	flex: 1 1 25%;
	position: absolute;
	top: -9999px;
	left: -9999px;
	right: -9999px;
	bottom: -9999px;
	margin: auto;
}*/

/*------------ About section styles ------------*/
.about-div{
	display: flex;
	align-items: center;
	border-width: 1px;
}

.about-div p{
	margin: 0 0 15px 0;
}

.about-pic{
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 40%;
	text-align: center;
	/*border-radius: 100%;
    overflow: hidden;
    width: 300px;
    margin-bottom: 30px;
    margin-right: 30px;
    height: 300px;
    max-width: 300px;*/
}

.about-pic img{
	/*width: 100%;*/
	filter: opacity(0.7);
}

.about-descr{
	flex-grow: 0;
	flex-shrink: 1;
}

.propicS_h{
	display:none;
	filter: opacity(0.7);
	margin-bottom: 30px;
	/*overflow: hidden;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
	border-radius: 100%;*/
}

/*------------ Media Queries ------------ (don't include those for nav) */ 

@media(max-width: 1024px){

	h2, h3, p{
		padding: 0 30px;
	}

	section{
		width:100%;
	}
	.container{
	padding-top: 0px;
	}
	.about-pic{
		margin-right: 30px;
	}
}

@media(max-width: 540px){
	.about-div{
		flex-flow: wrap;
	}

	.about-descr{
		flex-grow: 1;
		flex-basis: 100%;

	}

	.about-pic{
		display: none;
	}

	.propicS_h{
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 1 100%; /*this is needed for centering*/
	}

	.contentitem{
		padding: 0;
	}

	.my-gallery figure{
	flex: 1 1 25%;
	}
}

/*https://stackoverflow.com/questions/3226001/some-font-sizes-rendered-larger-on-safari-iphone*/
@media screen and (max-device-width: 480px){
  p{
    -webkit-text-size-adjust: none;
  }
}

@media(max-width: 390px){
	h1{
		font-size: 140%;
	}

	img{
		max-width: 100%;
	}
}